# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Excel files
*.xlsx

# IDE specific files
.vscode/
.idea/

# Ignore diagnostics folder and all its contents
diagnostics/
diagnostics/*